html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.title {
  text-anchor: middle;
  font-size: 2rem;
  font-weight: bold;
}

.legend,
.tooltip {
  font-size: 0.8rem;
}

.tooltip {
  position: absolute;
  z-index: 10;
  display: none;
  background: #eeeeee;
  text-align: left;
  max-width: 200px;
  border-radius: 4px;
  padding: 8px;
}
